$magnolia: #ECF0F1;
$white: #fff;

$orange: #ff6600;
$dark-orange: #C13B00;
$light-grey: #ddd;
$dark-grey: #5E6D70;
$green: #80bd01;

$navy-blue: #224F9B;
$blue: #3498BB;
$dark-blue: #2980B9;
$lightblue: #A2B3E7;
$offwhite: #D2E1F6;
$slate: #2C3E50;

$black: #1B1D1E;

$base-font-size:   24px; // The font size set on the root html element.
$base-line-height: 34px; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;

// page width
$page-width: 900px;

$lora:  Lora, "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$nunito: Nunito, Arial, Helvetica, "Nimbus Sans L", sans-serif;

$arvo:  Arvo, "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$quattro: "Quattrocento Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;

$neuton:  Neuton, "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$montserrat: Montserrat, Arial, Helvetica, "Nimbus Sans L", sans-serif;
$raleway: Raleway, Arial, Helvetica, "Nimbus Sans L", sans-serif;

$base-font-family: $raleway; // The font family set on the html element.
$heading-font-family: $nunito;

$border: solid 1px $light-grey;

@mixin panel-border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin header-background() {
  background: -webkit-linear-gradient($blue, $dark-blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($blue, $dark-blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($blue, $dark-blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient($blue, $dark-blue); /* Standard syntax */
}
