<h3>Tweets</h3>
<div class="panel tweet" ng-repeat="item in data">
  <div class="name">
    <a href="https://twitter.com/{{ item.user.screen_name }}">
      <span class="name">{{ item.user.name }}</span>
      <span>@{{ item.user.screen_name }}</span>
    </a>
    {{ item.short_date }}
  </div>
  <div class="text" ng-bind-html="item.display_text"></div>
  <div class="more">
    <show-sentiment-link tweet-id="{{ item.id_str }}"></show-sentiment-link>
    <show-retweeters-link ng-if="item.retweet_count > 0 && !item.retweeted" tweet-id="{{ item.id_str }}"></show-retweeters-link>
    <show-replies-link ng-show="item.has_replies" tweet-id="{{ item.id_str }}"></show-replies-link>
    <span class="favourites" ng-if="item.favorite_count > 0">{{ item.favorite_count }} favourite{{ item.favorite_count > 1 ? 's' : '' }}</span>
  </div>

  <div class="sentiment" style="display:none;">
    <i class="fa fa-times" style="display:none;"></i>
    <h4 class="show-panel">Sentiment</h4>
    <div class="score">
      Score: {{ item.sentiment.score}}, Comparative: {{ item.sentiment.comparative }}
    </div>
    <div class="positive">Positive: {{ (item.sentiment.positive.length > 0) ? item.sentiment.positive.join() : 'none' }} </div>
    <div class="positive">Negative: {{ (item.sentiment.negative.length > 0) ? item.sentiment.negative.join() : 'none' }} </div>
  </div>

  <div class="retweeters" style="display:none;">
    <i class="fa fa-times" style="display:none;"></i>
    <h4 class="show-panel">Retweeters</h4>
    <div class="retweeter" ng-repeat="retweeter in item.retweeters">
      <a href="https://twitter.com/{{ retweeter.screen_name }}" target="_blank">{{ retweeter.screen_name }}</a> retweeted to {{ retweeter.followers_count }} followers
    </div>
    <div class="range">This tweet potentially reached {{ item.reach + user.followers_count }} people</div>
  </div>

  <div class="replies" style="display:none;">
    <i class="fa fa-times" style="display:none;"></i>
    <h4 class="show-panel">Replies</h4>
    <div class="reply" ng-repeat="reply in item.replies">
      <div class="tweet">
        <div class="name">
          <a href="https://twitter.com/{{ reply.user.screen_name }}">
            <span class="name">{{ reply.user.name }}</span>
            <span>@{{ reply.user.screen_name }}</span>
          </a>
          {{ reply.short_date }}
        </div>
        <div class="text" ng-bind-html="reply.display_text"></div>
      </div>
      <div class="more">
        <span class="retweets" ng-if="reply.retweet_count > 0 && !reply.retweeted">
          {{ reply.retweet_count  }} retweet{{ reply.retweet_count > 1 ? 's' : '' }}
        </span>
        <span class="favourites" ng-if="reply.favorite_count > 0">{{ reply.favorite_count }} favourite{{ reply.favorite_count > 1 ? 's' : '' }}</span>
        <show-sentiment-link tweet-id="{{ item.id_str }}" reply-id="{{ reply.id_str }}"></sentiment>
      </div>
      <div class="sentiment" style="display:none;">
        <i class="fa fa-times"></i>
        <h4>Sentiment for this reply</h4>
        <div class="score">
          Score: {{ reply.sentiment.score}}, Comparative: {{ reply.sentiment.comparative }}
        </div>
        <div class="positive">Positive: {{ (reply.sentiment.positive.length > 0) ? reply.sentiment.positive.join() : 'none' }} </div>
        <div class="positive">Negative: {{ (reply.sentiment.negative.length > 0) ? reply.sentiment.negative.join() : 'none' }} </div>
      </div>
    </div>
  </div>
</div>
<div class="error" ng-show="moreTweetsError">{{ moreTweetsError }}</div>