<div class="modal-about" ng-show="showAbout" ng-controller="aboutCtrl">
  <div class="dialog">
    <div class="close" ng-click="toggleAbout()">
      <i class="fa fa-times"></i>
    </div>
    <div class="about">
      <h3>This is Tweet Report.</h3> 

      <p>Here you can view your tweets, mentions, replies, the number of times your tweets have been favourited and see sentiment analysis to determine how favourably people viewed your tweets.</p>

      <p>Tweet Analysis was created by <a href="js.systemick-web-development.co.uk" target="_blank">Systemick</a> using javascript.</p>
    </div>
  </div>
</div>