<p></p>

<div ng-hide="tweetapp.authorised">

	<div id="page" class="login" ng-controller="loginCtrl">

		<h2>Login</h2>
	  <div class="error" ng-show="formSubmitError">{{ formSubmitError }}</div>
		<div class="form" ng-hide="formSuccess">
			<!--<form name="loginForm" method="post" novalidate class="form-inline" ng-submit="doLogin(loginDetails)">
			  <div class="well">
			    <div class="form-group">
			      <label>Username</label>
			      <input type="text" class="form-control" name="username" ng-model="loginDetails.username" required />
			      <span class="error" ng-show="loginForm.username.$error.required && loginForm.username.$dirty">Please enter your username</span>
			    </div>
			    <div class="form-group">
			      <label>Password</label>
			      <input type="password" class="form-control" name="password" ng-model="loginDetails.password" required />
			      <span class="error" ng-show="loginForm.password.$error.required && loginForm.password.$dirty">Please enter your password</span>
			    </div>
			    <div class="form-group">
			      <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-primary">Login</button>
			    </div>
			  </div>
			</form>-->
			<form name="twitterLoginForm" method="post" action="http://localhost:3001/tweetapp/login/twitter">
				<div class="well">
			  	<input type="hidden" value="123456789" />
			  	<div class="form-group">
			  		<input type="submit" value="Log in using Twitter" />
			  	</div>
			  </div>
			</form>
		</div>

	</div>

</div>

<div ng-show="tweetapp.authorised">

	<div id="page" class="home" ng-hide="authorised">

		<div class="column left">

			<h3>Your stats</h3>
			<div class="panel">
				<p>Hello {{ user.screen_name }}</p>
				<p>You currently have {{ user.followers_count }} followers</p>
				<div class="profile_image">
					<img src="{{ user.profile_image_url_https }}" />
				</div>
				<h4>Last 7 days</h4>
				<div class="days-7">
					<div>{{ userAnalysis.analysis.seven.tweetCount }} tweets ({{ userAnalysis.analysis.seven.tweetsRetweetedCount }} retweets)</div>
					<div>{{ userAnalysis.analysis.seven.favouriteCount }} favourites</div>
					<div>{{ userAnalysis.analysis.seven.retweetCount }} retweets</div>
					<div>{{ userAnalysis.analysis.seven.mentions }} mentions</div>
				</div>
				<h4>Last 30 days</h4>
				<div class="days-30">
					<div>{{ userAnalysis.analysis.thirty.tweetCount }} tweets ({{ userAnalysis.analysis.thirty.tweetsRetweetedCount }} retweets)</div>
					<div>{{ userAnalysis.analysis.thirty.favouriteCount }} favourites</div>
					<div>{{ userAnalysis.analysis.thirty.retweetCount }} retweets</div>
					<div>{{ userAnalysis.analysis.thirty.mentions }} mentions</div>
				</div>
				<h4>Last 90 days</h4>
				<div class="days-90">
					<div>{{ userAnalysis.analysis.ninety.tweetCount }} tweets ({{ userAnalysis.analysis.thirty.tweetsRetweetedCount }} retweets)</div>
					<div>{{ userAnalysis.analysis.ninety.favouriteCount }} favourites</div>
					<div>{{ userAnalysis.analysis.ninety.retweetCount }} retweets</div>
					<div>{{ userAnalysis.analysis.ninety.mentions }} mentions</div>
				</div>
			</div>

		</div>

		<div id="chartContainer" style="width: 70%; float:left;">
			<tweet-chart>
				Chart data
				<img src="/assets/images/loading.gif" />
			</tweet-chart>
			<!--<canvas id="myChart2" width="420" height="200"></canvas>-->
			<!--<div class="clearfix"></div>-->
		</div>

		<div class="column centre">
			<h3>Tweets for {{ tweets_for }}</h3>
			<div data-tweet-list="usertweets" class="ng-Fade">
				<p>Tweet content goes here. {{ usertweets[0].text }}</p>
			</div>
			<div class="more-tweets" ng-show="tweetsLoaded && !allTweetsLoaded"><a href="" ng-click="getMoreTweets()">View more tweets</a></div>
		</div>

		<div class="column right" ng-controller="streamCtrl">
			<h3>Trending in the UK</h3>
			<div class="panel trends">
				<div class="trend" ng-repeat="trend in trends | filter: selectTrends">
					<a href="{{ trend.url }}">{{ trend.name }}</a>
				</div>
			</div>
			<!-- streamTweets directive -->
			<div class="stream" style="min-height: 500px" data-stream-tweet-list="streamTweets" class="ngFade"></div>
		</div>

		<div class="clearfix"></div>

	</div>

</div>