<div ng-hide="tweetapp.authorised">

	<div id="page" class="login" ng-controller="loginCtrl">

		<div class="about">
    	<h2>This is Tweet Report.</h3> 

    	<p>Here you can view your tweets, mentions, replies, the number of times your tweets have been favourited and see sentiment analysis to determine how favourably people viewed your tweets.</p>

    	<p>Login with Twitter to view your data</p>

    	<p>Tweet Analysis was created by <a href="js.systemick-web-development.co.uk" target="_blank">Systemick</a> using javascript.</p>
  	</div>
		<h3>Login</h2>
	  <div class="error" ng-show="formSubmitError">{{ formSubmitError }}</div>
	  <div class="error" ng-show="loginError">{{ loginError }}</div>
		<div class="form" ng-hide="formSuccess">
			<!--<form name="loginForm" method="post" novalidate class="form-inline" ng-submit="doLogin(loginDetails)">
			  <div class="well">
			    <div class="form-group">
			      <label>Username</label>
			      <input type="text" class="form-control" name="username" ng-model="loginDetails.username" required />
			      <span class="error" ng-show="loginForm.username.$error.required && loginForm.username.$dirty">Please enter your username</span>
			    </div>
			    <div class="form-group">
			      <label>Password</label>
			      <input type="password" class="form-control" name="password" ng-model="loginDetails.password" required />
			      <span class="error" ng-show="loginForm.password.$error.required && loginForm.password.$dirty">Please enter your password</span>
			    </div>
			    <div class="form-group">
			      <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-primary">Login</button>
			    </div>
			  </div>
			</form>-->
			<form name="twitterLoginForm" method="post" action="{{ serverUrl }}">
				<div class="well">
			  	<input type="hidden" value="123456789" />
			  	<div class="form-group">
			  		<input type="submit" value="Log in using Twitter" />
			  	</div>
			  </div>
			</form>
		</div>

	</div>

</div>

<div ng-show="tweetapp.authorised">

	<div id="page" class="home" ng-hide="authorised">

		<contact-modal></contact-modal>

		<about-modal></about-modal>

		<chart-modal></chart-modal>

		<div class="error" ng-show="twitterDataError">{{ twitterDataError }}</div>

		<div class="column left" ng-controller="tweetCtrl" infinite-scroll="getMoreTweets()" infinite-scroll-distance="1">

			<div data-tweet-list="usertweets" class="ng-Fade">
				<p><img src="/assets/images/loading.gif" /></p>
			</div>

		</div>

		<div class="column right hidden-xs" ng-controller="userAnalysisCtrl">

			<div class="panel visible-xs-block">
				<h3>{{ user.name }}</h3>
				<div class="user-info"><img src="{{ user.profile_image_url_https }}" /></div>
				<div class="user-info">{{ user.screen_name }}</div>
				<div class="user-info">{{ user.location }}</div>
				<div class="user-info">Followers: {{ user.followers_count }}</div>
			</div>

			<analysis-panel></analysis-panel>

			<div class="panel site-info hidden-xs">
				<span><a href="http://js.systemick-web-development.co.uk" target="_blank">&copy; Systemick {{ currentYear }}</a></span>
				<span><a href="" ng-click="toggleContact()">Contact</a></span>
				<span><a href="" ng-click="toggleAbout()">About</a></span>
				<span><a href="#/logout">Logout</a></span>
			</div>


		</div>

		<div class="clearfix"></div>

	</div>

</div>