<div class="login-container" ng-hide="tweetapp.authorised">

	<div id="page" class="login panel" ng-controller="loginCtrl">

		<h2>This is Tweet Report</h2>
		<div class="form" ng-hide="formSuccess">
			<p>Here you can view your tweets, mentions, replies, the number of times your tweets have been favourited and see sentiment analysis to determine how favourably people viewed your tweets.</p>
			<div class="error" bg-show="logoutMsg">{{ logoutMsg }}</div>
			<form name="twitterLoginForm" method="post" action="{{ serverUrl }}">
				<div class="well">
			  	<div class="form-group">
			  		<input type="hidden" name="siteUrl" value="{{ siteUrl }}" />
			  		<input type="submit" value="Log in using Twitter" />
			  	</div>
			  </div>
			</form>
		</div>

	</div>

</div>

<div ng-show="tweetapp.authorised">

	<div id="page" class="home" ng-hide="authorised">

		<contact-modal></contact-modal>

		<about-modal></about-modal>

		<chart-modal type="analysis"></chart-modal>

		<chart-modal type="followers"></chart-modal>

		<div class="error" ng-show="twitterDataError">{{ twitterDataError }}</div>

		<div class="column left" ng-controller="tweetCtrl" infinite-scroll="getMoreTweets()" infinite-scroll-distance="1">

			<div data-tweet-list="usertweets" class="ng-Fade">
				<p><img src="/assets/images/loading.gif" /></p>
			</div>

		</div>

		<div class="column right hidden-xs" ng-controller="userAnalysisCtrl">

			<div class="panel visible-xs-block hidden">
				<h3>{{ user.name }}</h3>
				<div class="user-info"><img src="{{ user.profile_image_url_https }}" /></div>
				<div class="user-info">{{ user.screen_name }}</div>
				<div class="user-info">{{ user.location }}</div>
				<div class="user-info">Followers: {{ user.followers_count }}</div>
			</div>

			<analysis-panel></analysis-panel>

			<div class="panel site-info hidden-xs">
				<span><a href="http://js.systemick-web-development.co.uk" target="_blank">&copy; Systemick {{ currentYear }}</a></span>
				<span><a href="" ng-click="toggleContact()">Contact</a></span>
				<span><a href="" ng-click="toggleAbout()">About</a></span>
				<span><a href="#/logout">Logout</a></span>
			</div>


		</div>

		<div class="clearfix"></div>

	</div>

</div>