<div class="analysis">
  <h3>Summary</h3>
  <div class="error" ng-show="analysisError">{{ analysisError }}</div>
  <div class="panel analysis" ng-hide="analysisError">
    <h4>Last 7 days</h4>
    <analysis-item data-analysis-length="seven">
      <img src="/assets/images/loading.gif" />
    </analysis-item>
    <h4>Last 30 days</h4>
    <analysis-item data-analysis-length="thirty">
      <img src="/assets/images/loading.gif" />
    </analysis-item>
    <h4>Last 90 days</h4>
    <analysis-item data-analysis-length="ninety">
      <img src="/assets/images/loading.gif" />
    </analysis-item>
    <div id="analysisChartModalShow" class="chart-link">
      <button>View Summary Chart</button>
    </div>
    <div id="followersChartModalShow" class="chart-link">
      <button>View Followers Chart</button>
    </div>
  </div>
</div>